.catalog {
  border: 1px solid blue;
  max-width: 320px;
}

.catalog__title {
  padding: 35px 20px;
}

.catalog__product {
  padding: 0 20px 25px 20px;
  border-bottom: @border;
}

.catalog__product-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog__product-image {
  width: 140px;
  height: 144px;
}

.catalog__product-feature {
  padding: 20px 0;
  flex-grow: 1;
}

.catalog__product-name {
  margin-bottom: 10px;
  width: 72px;
}

.catalog__product-volume,
.catalog__product-flawor,
.catalog__product-price {
  display: flex;
  justify-content: space-between;
}

.catalog__product-order {
  color: @main-white;
  background-color: @main-green;
}

.catalog__product-text {
  font-family: @secondFont;
}

@media (min-width: @tablet-width) {
  .catalog {
    .indents-tablet();
    margin-bottom: 70px;
  }

  .catalog__title {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    padding-top: 65px;
    padding-bottom: 74px;
  }

  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__product {
    position: relative;
    width: 324px;
    max-height: 431px;
    margin-right: 60px;
    margin-bottom: 140px;
    padding: 165px 38px 40px 38px;
    background-color: @main-grey;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .catalog__product-image {
    position: absolute;
    top: -50px;
    left: 50%;
  }

  .catalog__product-wrapper {
    margin: 0 auto;
    width: 100%;
  }

  .catalog__product-name {
    margin: 0 auto;
    margin-bottom: 28px;
    width: 124px;
    font-size: 20px;
    text-align: center;
  }

  .catalog__product-feature {
    margin: 0 auto;
    margin-bottom: 33px;
    width: 100%;
  }

  .catalog__product-volume,
  .catalog__product-flawor,
  .catalog__product-price {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .catalog__product-text {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    .indents-desktop();
  }

  .catalog__title {
    text-align: left;
    padding-top: 83px;
    padding-bottom: 75px;
  }

  .catalog__product {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 140px;
  }
}
