.catalog {
  border: 1px solid blue;
  max-width: 320px;
}

.catalog__title {
  margin: 25px 20px 35px 20px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.catalog__product {
  padding: 0 20px 24px 20px;
  border-bottom: @border;

  &:first-child {
    border-top: @border;
  }
}

.catalog__product-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog__product-image {
  width: 140px;
  height: 144px;
}

.catalog__product-feature {
  padding: 20px 0;
  flex-grow: 1;
}

.catalog__product-name {
  margin-bottom: 10px;
  width: 74px;
}

.catalog__product-volume,
.catalog__product-flawor,
.catalog__product-price {
  display: flex;
  justify-content: space-between;
}

.catalog__product-order {
  color: @main-white;
  background-color: @main-green;
}

.catalog__product-text {
  font-family: @secondFont;
}

@media (min-width: @tablet-width) {
  .catalog {
    .indents-tablet();
    max-width: 768px;
  }

  .catalog__title {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    padding-top: 65px;
    padding-bottom: 74px;
  }

  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__product {
    width: 324px;
    max-height: 431px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: @main-grey;
    border: none;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .catalog__product-image {
    width: 195px;
    height: 208px;
    margin-left: 64px;
    margin-top: -82px;
  }

  .catalog__product-wrapper {
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .catalog__product-name {
    margin: 0 auto;
    margin-top: 54px;
    margin-bottom: 23px;
    width: 124px;
    font-size: 20px;
    text-align: center;
  }

  .catalog__product-feature {
    padding: 0;
    margin-bottom: 28px;
    width: 100%;
  }

  .catalog__product-volume,
  .catalog__product-flawor,
  .catalog__product-price {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: @border;
  }

  .catalog__product-text {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    .indents-desktop();
  }

  .catalog__title {
    text-align: left;
    padding-top: 83px;
    padding-bottom: 75px;
  }

  .catalog__product {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 140px;
  }
}
