.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__name {
  width: 115px;
  font-family: @secondFont;
  font-size: 16px;
  line-height: 16px;
  color: @main-black;
}

.copyright__image {
  width: 27px;
  height: 34px;
}

@media (min-width: @tablet-width) {
  .copyright {
    padding: 58px 0;
    margin: 0 30px;
  }

  .copyright__name {
    margin-right: 23px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    padding: 0;
    margin-right: 110px;
  }
}
