.instruction {
  padding: 0 20px;
  border: 1px solid blue;
}

.instruction__title {
  margin-bottom: 40px;
}

.instruction__list {
  .reset-list();
}

.instruction__item {
  display: flex;
  margin-bottom: 20px;
}

.instruction__text {
  font-family: @secondFont;
  margin-left: 20px;
}
