.main-block {
  border: 1px solid red;
  padding-bottom: 20px;
}

.main-block__background {
  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.main-block__answer {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  color: @main-white;
}

.main-block__button {
  margin: 0 20px;
  color: @main-white;
  background-color: @main-green;
}
