.main-block {
  position: relative;
  max-width: 320px;
}

.main-block__background {
  position: relative;
  height: 305px;
  margin-bottom: 135px;
  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  text-align: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.main-block__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 27px;
  margin-bottom: 25px;
  color: @main-white;
}

.main-block__answer {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: @main-white;
  text-transform: uppercase;
}

.main-block__image {
  position: absolute;
  top: 163px;
  left: 50%;
  margin-left: -140px;
  width: 280px;
  height: 270px;
}

.main-block__button {
  margin: 0 20px 22px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @main-white;
  background-color: @main-green;
}

@media (min-width: @tablet-width) {
  .main-block {
    max-width: 768px;
    margin-bottom: 48px;
    border: @border;
  }

  .main-block__background {
    padding-top: 55px;
    padding-left: 115px;
    color: @main-black;
    background: none;
    text-align: left;
    height: auto;
    .reset-indents();
  }

  .main-block__title {
    padding: 0;
    width: 427px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
    color: @main-black;
  }

  .main-block__answer {
    font-size: 20px;
    line-height: 20px;
    color: @main-black;
  }

  .main-block__wrapper-image {
    display: flex;
    justify-content: center;
    min-height: 609px;
  }

  .main-block__image {
    padding-top: 20px;
    position: static;
    margin-left: 0;
    width: 709px;
    height: 609px;
  }

  .main-block__button {
    position: absolute;
    z-index: 3;
    top: 284px;
    left: 13%;
    width: 245px;
    padding: 16px 0;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .main-block {
    max-width: 1440px;
    padding-bottom: 135px;
  }

  .main-block__background {
    padding-top: 105px;
    padding-left: 191px;
    width: 415px;
  }

  .main-block__title {
    margin-bottom: 40px;
  }

  .main-block__desktop-background {
    position: absolute;
    top: -117px;
    left: 50%;
    width: 100%;
    height: 695px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .main-block__wrapper-image {
    position: absolute;
    top: 0;
    left: 39%;
  }

  .main-block__image {
    top: 0;
    width: 552px;
    height: 499px;
  }

  .main-block__button-wrapper {
    margin: 55px 0 0 190px;
  }

  .main-block__button {
    position: static;
    margin-left: 0;
    padding: 16px 0;
    margin-right: auto;
    margin-bottom: 135px;
  }
}
