.page-footer {
  background-color: #f2f2f2;
  text-align: center;
}

.page-footer__block {
  padding: 20px;
}

.page-footer__logo {
  width: 128px;
  height: 24px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    .indents-tablet();
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 67px 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 62px 40px;
  }
}
