.page-header {
  padding: 10px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.page-header__logo {
  width: 191px;
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}
