.page-header {
  max-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  border-bottom: @border;
  padding: 11px 20px 13px;
}

.page-header__logo {
  display: block;
  margin-right: auto;
}

.page-header__logo-image {
  width: 193px;
  height: 38px;
}

@media (min-width: @tablet-width) {
  .page-header {
    max-width: 768px;
  }

  .page-header__wrapper {
    width: 173px;
    border: none;
    .indents-tablet();
    margin-top: 24px;
  }

  .page-header__logo {
    padding: 0;
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    max-width: 1440px;
    padding-top: 30px;
  }

  .page-header__wrapper {
    width: 202px;
    padding: 0 110px;
  }

  .page-header__logo-image {
    width: 202px;
    height: 59px;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
