.page-header {
  padding: 10px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.page-header__logo {
  width: 191px;
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}

@media (min-width: @tablet-width) {
  .page-header {
    .indents-tablet();
    padding-top: 24px;
  }

  .page-header__wrapper {
    padding: 0;
    width: 173px;
    border: none;
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    .indents-desktop();
    padding-top: 54px;
  }

  .page-header__wrapper {
    width: 202px;
  }

  .page-header__logo-image {
    width: 202px;
    height: 59px;
  }
}
