.programs {
  padding: 0 20px;
  border: 1px solid orange;
}

.programs__block {
  background-color: @main-grey;
  padding: 20px;
  margin-bottom: 20px;
}

.programs__block-wrapper {
  display: flex;
}
