.program__title {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 5px;
  padding-left: 71px;
  margin-bottom: 29px;

  &::before {
    content: "";
    position: absolute;
    left: 2px;
    top: -6px;
    width: 50px;
    height: 50px;
    background-color: @main-green;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--slim::after {
    top: -8px;
    left: 10px;
    width: 35px;
    height: 49px;
    background-image: url("../../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--pro::after {
    top: 5px;
    left: -7px;
    width: 67px;
    height: 28px;
    background-image: url("../../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.program__text {
  font-family: @secondFont;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  width: 238px;
  padding-bottom: 23px;
  border-bottom: @border;
}

.program__link {
  position: relative;
  font-family: @mainFont;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    left: 96px;
    top: 7px;
    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.program__link-wrapper {
  margin-top: 18px;
}

@media (min-width: @tablet-width) {
  .program__title {
    .reset-indents();
    padding: 0;
    margin-bottom: 30px;
    font-size: 36px;
    width: 250px;

    &::before {
      top: 30px;
      left: 440px;
      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 10px;
      left: 465px;
      width: 140px;
      height: 194px;
    }

    &--pro::after {
      top: 58px;
      left: 400px;
      width: 268px;
      height: 112px;
    }
  }

  .program__text {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    border: none;
    margin-bottom: 45px;
  }

  .program__link {
    padding-top: 0;
    font-size: 20px;
    line-height: 20px;

    &::after {
      left: 145px;
    }
  }
}

@media (min-width: @desktop-width) {
  .program__title {
    margin-left: 64px;
    margin-top: 35px;
  }

  .program__image {
    .reset-indents();
    width: 100px;
    height: 100px;
  }

  .program__text {
    .reset-indents();
    padding: 0;
  }

  .program__link-wrapper {
    .reset-indents();
    margin-top: 38px;
  }
}
