.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .reset-list();
  margin: 0 auto;
  width: 126px;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 18px;
}

.social__item--vkontakte {
  width: 22px;
}

.social__item--instagram {
  width: 16px;
}

.social__item--facebook {
  width: 15px;
}

.social__icon {
  fill: #666666;

  &:hover,
  &:focus {
    fill: @main-green;
  }

  &:active {
    opacity: 0.3;
  }

  &--vkontakte {
    width: 22px;
    height: 12px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 125px;
  }

  .social__icon--vkontakte {
    width: 30px;
    height: 16px;
  }

  .social__icon--instagram {
    width: 23px;
    height: 23px;
  }

  .social__icon--facebook {
    width: 14px;
    height: 28px;
  }
}
