.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .reset-list();
  width: 180px;
  .reset-indents();
  margin: 20px auto;
  text-align: center;
}

.social__item {
  width: 60px;
}

.social__link--vkontakte {
  padding-left: 10px;
}

.social__link--facebook {
  padding-right: 15px;
}

@media (min-width: @desktop-width) {
  .social__list {
    .reset-indents();
    padding: 0;
  }
}
